{% extends 'parts/base.html' %}

{% block title %}
    Not Found
{% endblock %}

{% block content %}
    <header class="found">
        <div class="container">
            <div class="found__content">
                <div class="found__404">
                    <p class="fount__text">4<span class="found__span">{}</span>4</p>
                    <div class="found__box">
                        <a href="home.html" class="found__btn">Go Home</a>
                        <img class="found__arrow" src="assets/img/arrow.svg" alt=""/>
                    </div>
                </div>

                <ul class="header__content-social social-hidden about__social">
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-telegram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
{% endblock %}

