{% extends 'parts/base.html' %}

{% block title %}
    Blog
{% endblock %}

{% block content %}
    <header class="blog" style="margin-top: 6%">
        <div class="container">
            <div class="blog__content">
                <div class="blog__content-menu">
                    <button class="blog__content-btn fill">Latest</button>
                    <button class="blog__content-btn">Most Popular</button>
                    <button class="blog__content-btn">Oldest</button>
                </div>

                <div class="blog__content-cards">

                    <a href="blog-detail.html" class="blog__content-card">
                        <div class="blog__content-info">
                            <p class="blog__content-date">
                                03.04
                            </p>

                            <p class="blog__content-date blog-view">
                                <i class="far fa-eye"></i> <span>3</span>
                            </p>
                        </div>
                        <h2 class="blog__content-title">
                            Title of the post
                        </h2>
                        <p class="blog__content-sub">
                            Description of the post and now Lorem Ipsum is simply dummy text of the...
                        </p>
                    </a>

                    <a href="blog-detail.html" class="blog__content-card">
                        <div class="blog__content-info">
                            <p class="blog__content-date">
                                03.04
                            </p>

                            <p class="blog__content-date blog-view">
                                <i class="far fa-eye"></i> <span>3</span>
                            </p>
                        </div>
                        <h2 class="blog__content-title">
                            Title of the post
                        </h2>
                        <p class="blog__content-sub">
                            Description of the post and now Lorem Ipsum is simply dummy text of the...
                        </p>
                    </a>

                    <a href="blog-detail.html" class="blog__content-card">
                        <div class="blog__content-info">
                            <p class="blog__content-date">
                                03.04
                            </p>


                            <p class="blog__content-date blog-view">
                                <i class="far fa-eye"></i> <span>3</span>
                            </p>
                        </div>
                        <h2 class="blog__content-title">
                            Title of the post
                        </h2>
                        <p class="blog__content-sub">
                            Description of the post and now Lorem Ipsum is simply dummy text of the...
                        </p>
                    </a>

                    <a href="blog-detail.html" class="blog__content-card">
                        <div class="blog__content-info">
                            <p class="blog__content-date">
                                03.04
                            </p>

                            <p class="blog__content-date blog-view">
                                <i class="far fa-eye"></i> <span>3</span>
                            </p>
                        </div>
                        <h2 class="blog__content-title">
                            Title of the post
                        </h2>
                        <p class="blog__content-sub">
                            Description of the post and now Lorem Ipsum is simply dummy text of the...
                        </p>
                    </a>

                    <a href="blog-detail.html" class="blog__content-card">
                        <div class="blog__content-info">
                            <p class="blog__content-date">
                                03.04
                            </p>


                            <p class="blog__content-date blog-view">
                                <i class="far fa-eye"></i> <span>3</span>
                            </p>
                        </div>
                        <h2 class="blog__content-title">
                            Title of the post
                        </h2>
                        <p class="blog__content-sub">
                            Description of the post and now Lorem Ipsum is simply dummy text of the...
                        </p>
                    </a>

                    <a href="blog-detail.html" class="blog__content-card">
                        <div class="blog__content-info">
                            <p class="blog__content-date">
                                03.04
                            </p>


                            <p class="blog__content-date blog-view">
                                <i class="far fa-eye"></i> <span>3</span>
                            </p>
                        </div>
                        <h2 class="blog__content-title">
                            Title of the post
                        </h2>
                        <p class="blog__content-sub">
                            Description of the post and now Lorem Ipsum is simply dummy text of the...
                        </p>
                    </a>

                    <a href="blog-detail.html" class="blog__content-card">
                        <div class="blog__content-info">
                            <p class="blog__content-date">
                                03.04
                            </p>


                            <p class="blog__content-date blog-view">
                                <i class="far fa-eye"></i> <span>3</span>
                            </p>
                        </div>
                        <h2 class="blog__content-title">
                            Title of the post
                        </h2>
                        <p class="blog__content-sub">
                            Description of the post and now Lorem Ipsum is simply dummy text of the...
                        </p>
                    </a>

                    <a href="blog-detail.html" class="blog__content-card">
                        <div class="blog__content-info">
                            <p class="blog__content-date">
                                03.04
                            </p>

                            <p class="blog__content-date blog-view">
                                <i class="far fa-eye"></i> <span>3</span>
                            </p>
                        </div>
                        <h2 class="blog__content-title">
                            Title of the post
                        </h2>
                        <p class="blog__content-sub">
                            Description of the post and now Lorem Ipsum is simply dummy text of the...
                        </p>
                    </a>

                    <a href="blog-detail.html" class="blog__content-card">
                        <div class="blog__content-info">
                            <p class="blog__content-date">
                                03.04
                            </p>


                            <p class="blog__content-date blog-view">
                                <i class="far fa-eye"></i> <span>3</span>
                            </p>
                        </div>
                        <h2 class="blog__content-title">
                            Title of the post
                        </h2>
                        <p class="blog__content-sub">
                            Description of the post and now Lorem Ipsum is simply dummy text of the...
                        </p>
                    </a>

                </div>

                <button class="seeMore">See More</button>


                <ul class="header__content-social social-hidden about__social">
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-telegram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>


            </div>
        </div>
    </header>
{% endblock %}

