{% extends 'parts/base.html' %}

{% block title %}
	Robiya's Blog
{% endblock %}

{% block content %}
    <header class="header" style="margin-top: 4%">
        <div class="container">
            <div class="header__content">
                <div class="header__content-text">
                    <h1 class="header__content-title"><span class="header-star">*</span>ROBIY<span>A</span>’S BLOG</h1>
                    <p class="header__content-sub">I write the program code and I write about the code, so take a look
                        :)</p>
                </div>

                <div class="header__content-btns wrapper">
                    <a href="blog.html" class="button read__blog">Read Blog</a>
                    <a href="about.html" class="button about__me">About Me</a>
                </div>

                <ul class="header__content-social social-hidden">
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-telegram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" class="header__content-link">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
{% endblock %}

