{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.svg' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/media.css' %}"/>
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>

<body>

{% include 'parts/header.html' %}

{% block content %}

{% endblock %}

{% include 'parts/footer.html' %}

<script src="{% static "js/scrollreveal.min.js" %}"></script>
<script src="{% static "js/animate.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
</body>
</html>
