{% load my_tags %}

<footer class="header__content-bottom container">
    <p class="header__content-com">© {% current_year %} {% current_domain %}</p>

    <ul class="header__content-social">
        <li>
            <a href="" class="header__content-link">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li>
            <a href="" class="header__content-link">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="" class="header__content-link">
                <i class="fab fa-telegram"></i>
            </a>
        </li>
        <li>
            <a href="" class="header__content-link">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="" class="header__content-link">
                <i class="fab fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="" class="header__content-link">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
    </ul>

    <a href="https://www.instagram.com/omy.creator" class="mark-bro">Designed by <span class="mark-star">*<span
            class="mark-omy">OMY</span></span></a>
</footer>